@import "./variables";
@import "./colors";

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-around {
    display: flex;
    justify-content: space-around;
}

// roboto font style
@mixin p-roboto {
    font-family: $font-roboto;
    font-size: 14px;
    color: $light-gray;
}

// break points for responsive screens start
@mixin padding-xxlarge {
    @media (min-width: $xxlarge) {
        padding-left: 270px;
        padding-right: 270px;
    }
}

@mixin padding-xlarge {
    @media (min-width: $xlarge) and (max-width: $xxlarge) {
        padding-left: 150px;
        padding-right: 150px;
    }
}

// break points for responsive screens end

// padding for different screens start
@mixin padding-large {
    @media (min-width: $large) and (max-width: $xlarge) {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@mixin padding-medium {
    @media (min-width: $medium) and (max-width: $large) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@mixin padding-small {
    @media (min-width: 0px) and (max-width: $medium) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

// padding for different screens end

// style for medium screen
@mixin medium {
    @media (max-width: $medium) {
        height: 560px;
        background-color: red;
    }
}

//background  colors for components
@mixin bg-colors {
    .bg-black {
        background-color: $black;
    }

    .bg-red {
        background-color: $red;
    }

    .bg-white {
        background-color: $white;
    }

    .bg-yellow {
        background-color: $yellow;
    }

    .bg-green {
        background-color: $light-green;
    }
}

// colors for components
@mixin colors {
    .black {
        color: $black;
    }

    .red {
        color: $red;
    }

    .white {
        color: $white;
    }

    .yellow {
        color: $yellow;
    }

    .green {
        color: $light-green;
    }
}

// responsive width for components
@mixin responsive-width {
    @media (min-width: $small) {
        width: 500px;
    }

    @media (max-width: $small) {
        width: 250px;
    }
}
