@import "./fonts";
@import "./colors";
@import "./mixins";
@import "./variables";

.about {
    width: 100%;
    padding: 50px 0;
    background-color: $white;
    @include flex(column, center, space-between);

    h3 {
        font-family: $font-kaushan-script;
        color: $black;
        font-size: 23px;
        padding: 10px;
    }

    h1 {
        color: $black;
        padding: 10px;
    }

    p {
        @include p-roboto;
        text-align: center;
        padding: 0 50px;
        padding: 10px;
    }

    //we do start
    .we-do {
        width: 100%;
        text-align: center;

        @include flex(column, center, space-between);
        @include padding-xxlarge;
        @include padding-xlarge;
        @include padding-large;
        @include padding-medium;
        @include padding-small;
    }
    //we do end

    @media (max-width: $medium) {
        text-align: center;
    }

    .about-images {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        @include padding-xxlarge;
        @include padding-xlarge;
        @include padding-large;
        @include padding-medium;
        @include padding-small;
        @include flex(row, center, space-between, wrap);

        @media (max-width: $large) {
            justify-content: space-evenly;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        @media (max-width: $small) {
            height: 500px;
        }

        .image-container {
            width: 260px;
            height: 160px;
            padding: 5px;
            img {
                height: 100%;
                width: 100%;
            }
            // first image start
            .first {
                background-image: linear-gradient(to bottom, #f38181d8, #fce38ad8), url("../assets/pc.png");
                background-size: cover;
                color: $white;
                box-shadow: 8px 8px $light-green;
                height: 96%;
                width: 100%;
                @include flex(column, center, center);

                h3 {
                    font-family: $font-montserrat !important;
                    font-weight: bold;
                    color: $white;
                    font-size: 14px;
                }
            }
            // first image end
        }
    }

    .stat-container {
        background-image: linear-gradient(to bottom, $light-green, $light-green);
        width: 100%;

        //statistics start
        .statistics {
            display: flex;
            align-items: center;
            background-image: linear-gradient(to bottom, $light-green, $light-green);
            height: 200px;
            width: 100%;

            @include padding-xxlarge;
            @include padding-xlarge;
            @include padding-large;
            @include padding-medium;
            @include medium;

            @media (max-width: $medium) {
                flex-wrap: wrap;
            }

            .signs {
                width: inherit;
                height: 100%;
                color: $white;
                text-align: center;

                @include flex(column, center, center);

                @media (min-width: 769px) {
                    border-right: 1px solid $white-trans;
                    &:first-child {
                        border-left: 1px solid $white-trans;
                    }
                }

                @media (max-width: $medium) {
                    flex-wrap: wrap;
                    height: initial;
                    border-top: 1px solid $white-trans;
                    padding-top: 10px;
                    &:first-child {
                        border-top: none;
                    }
                }

                .number {
                    font-size: 52px;
                }

                .name {
                    font-size: 14px;
                }
            }
        }
        //statistics end
    }
}
