@import "./colors";
@import "./mixins";
@import "./variables";
.contact {
    @include flex(column, center, center);
    background-color: $red;
    padding-top: 100px;
    height: 100vh;

    @media (max-width: $medium) {
        padding-top: 80px;
        padding-bottom: 10px;
    }

    // solving elements conflict issues
    @media (max-height: 500px) {
        padding-top: 80px;
        height: auto;
    }
}
