@import "./styles/fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-montserrat;
}

html,
body {
    width: 100%;
}

.App {
    height: 2000px;
    padding:0 270px;
}
